.stick {
    height: 75%;
    width: 0.25em;
    border-radius: 8px;
    background-color: #47a7f5;
    margin-right: 0.05em;
}

.lesson {
    padding-left: 5px;
    overflow-x: hidden;
    width: 40%;
}