
.instruction {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

.elements {
    padding-left: 2px;
    padding-right: 2px;
}

.end {
    height: 30px;
}