
.instruction {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

.elements {
    padding-left: 0.4em;
    padding-right: 0.4em;
}