.task {
    display: flex; 
    /* background-color: #47a7f5;  */
    background-color: rgba(61, 61, 61, 0.1);
    border-radius: 7px; 
    margin-top: 5px;
    height: 60px; 
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50px;
}
