@import "src/styles/variables";

.absences-header {
    padding: 0;
    margin: 8px;
    text-align: center;
}

.absences-content {
    display: flex;
    flex-direction: column;
}

.absences-summary {
    padding: 5px;
    margin: 1px;
}

.absences-absence {
    margin: 5px;
    background-color: $gray;
    border-radius: 8px
}

.absences-dates {
    padding: 8px;
    margin: 4px;
    border-radius: 6px;
    background-color: $bodyColor;
}

.absences-subject {
    padding: 8px;
}