.desktop-navbar{
    justify-self: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.desktop-navbar-link{
    margin: 0;
    padding: 0;
    height: 2.3em;
    flex-basis: 40%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.desktop-navbar-link:hover{
    background-color: #5aa2dc;
    border-radius: 5px
}

.desktop-navbar-link:active{
    border-bottom: solid 3px #0166ff
}

.desktop-navbar-text{
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 770px) {
    .desktop-navbar{
        display: none
    }
}

