.task {
    display: flex; 
    background-color: #47a7f5; 
    border-radius: 12px; 
    margin-top: 5px;
    height: 60px; 
    align-items: center;
    justify-content: space-between;
    transition-duration: all 1s;
}

.date {
    display: flex;
    align-items: center;
    width: 70px;
}

.stick { 
    border-left: 2px solid white;
    height: 35px;
    margin-left: 10px
}
