.table {
    border: solid 2px #47a7f5;
    border-radius: 7px;
  }
  
  .main {
    display: flex;
    height: 80px;
    background-color: rgba(61, 61, 61, 0.1);
  }
  
  .date {
    width: 15%;
  }
  
  .text {
    padding: 8px;
    border-left: solid 2px #47a7f5;
    border-right: solid 2px #47a7f5;
    width: 70%;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marks {
    padding: 8px;
    border-bottom: solid 2px #47a7f5;
    flex-grow: 1;
  }
  
  .data {
    padding: 8px;
    flex-grow: 1;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    width: 15%;
  }
  
  .more-info {
    padding: 8px;
    border-top: solid 2px #47a7f5;
    display: none;
    background-color: rgba(61, 61, 61, 0.1);
  }
  
  .hidden-input:checked ~ .more-info {
    display: block;
  }
  
  .hidden-input {
    display: none;
  }