.table {
  border: solid 2px #47a7f5;
  border-radius: 7px;
}

.main {
  display: flex;
  background-color: rgba(61, 61, 61, 0.1);
}

.date {
  width: 15%;
}

.text {
  padding: 2px;
  border-left: solid 2px #47a7f5;
  border-right: solid 2px #47a7f5;
  width: 65%;
  overflow-y: hidden;
  position:relative;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marks {
  padding: 8px;
  border-bottom: solid 2px #47a7f5;
  flex-grow: 1;

}

.data {
  padding: 8px;
  flex-grow: 1;
}

.info {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.more-info {
  padding: 8px;
  border-top: solid 2px #47a7f5;
  min-height: 50px;
  background-color: rgba(61, 61, 61, 0.1);
}

.text-style-task {
  font-size: 15px;
  font-weight: 500;
}

.hidden-task { 
  visibility: hidden;
  display: none;
}

.main-closed-task {
  height: 80px;
}

.instruction-topic-task {
  font-size: 17px;
  font-weight: 600;
  text-decoration: underline 2px;
  position:absolute;
  bottom:0;
  left:0;
  margin: 2px;
}

.btn-link {
  background: #47a7f5;
  margin-left: 2px;
  margin-right: 2px;
  border: 0px;
  border-radius: 2px;
  color: white;
  height: 25px;
} 