@import "../../../styles/variables";

.task {
  display: flex;
  /* background-color: #47a7f5;  */
  border-radius: 7px;
  margin-bottom: 5px;
  height: 60px;
  align-items: center;
}

.date {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 3.5em;
}

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
}

.stick {
  height: 63%;
  width: 0.25em;
  border-radius: 8px;
  background-color: $blue;
  margin-right: 0.05em;
}

.lesson {
  padding-left: 5px;
  overflow-x: hidden;
  width: 40%;
}

.text {
  font-size: 15px;
  font-weight: bold;
}